.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 24px;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  overflow: hidden;
}

.titleRow span {
  width: 88%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  font: var(--font-title);
}

.field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.label {
  margin-right: 24px;
  font-weight: bold;
}

.content {
  flex-grow: 1;
}
